<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find move_base_navigation)/maps/map.yaml" />
  <arg name="scan_topic" default="/scan"/> 
  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/> 

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <!-- 기본 설정 -->
    <param name="odom_frame_id" value="odom"/> <!-- 오도메트리 프레임 -->
    <param name="base_frame_id" value="base_link"/> <!-- 로봇의 기본 프레임 -->
    <param name="global_frame_id" value="map"/> <!-- 글로벌 맵 프레임 -->
    <param name="transform_tolerance" value="1.0"/> <!-- TF 허용 시간 -->
    <param name="update_min_d" value="0.2"/> <!-- 최소 거리 업데이트 (미터) -->
    <param name="update_min_a" value="0.2"/> <!-- 최소 각도 업데이트 (라디안) -->
    <param name="resample_interval" value="2"/> <!-- 리샘플링 간격 -->
    <param name="laser_max_range" value="3.5"/> <!-- LIDAR 최대 거리 -->
    <param name="laser_model_type" value="likelihood_field"/> <!-- LIDAR 모델 -->
    <param name="z_hit" value="0.9"/> <!-- LIDAR 센서가 정확할 확률 -->
    <param name="z_short" value="0.1"/> <!-- 근거리 장애물 비율 -->
    <param name="z_max" value="0.05"/> <!-- 최대 거리의 오류 확률 -->
    <param name="z_rand" value="0.05"/> <!-- 랜덤 측정 비율 -->
    <param name="sigma_hit" value="0.2"/> <!-- LIDAR 측정 오차 (미터) -->

    <!-- 초기 위치 설정 -->
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>

    <!-- 입자 필터 설정 -->
    <param name="min_particles" value="500"/> <!-- 최소 입자 개수 -->
    <param name="max_particles" value="2000"/> <!-- 최대 입자 개수 -->

    <!-- 오도메트리 설정 -->
    <param name="odom_model_type" value="diff"/> <!-- 차동 드라이브 모델 -->
    <param name="odom_alpha1" value="0.1"/> <!-- 회전-회전 노이즈 계수 -->
    <param name="odom_alpha2" value="0.1"/> <!-- 회전-이동 노이즈 계수 -->
    <param name="odom_alpha3" value="0.1"/> <!-- 이동-이동 노이즈 계수 -->
    <param name="odom_alpha4" value="0.1"/> <!-- 이동-회전 노이즈 계수 -->


    <!-- LIDAR 토픽 -->
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
