<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find my_robot_navigation)/Maps/b210.yaml" />
  <arg name="scan_topic" value="/scan"/>
  <arg name="initial_pose_x" value="1.0"/>
  <arg name="initial_pose_y" value="1.0"/>
  <arg name="initial_pose_a" value="0.0"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Include RPLidar A2M8 -->
  <include file="$(find rplidar_ros)/launch/rplidar_a2m8.launch" />

  <!-- Depth camera -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />


  <!-- RViz 실행 -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" required="true" args="-d $(find my_robot_navigation)/rviz/default2.rviz"/>


  <!-- AMCL -->
  <include file="$(find my_robot_navigation)/launch/amcl.launch">   
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move Base 실행 -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    
    <!-- A*를 전역 플래너로 설정 -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    
    <!-- TEB를 로컬 플래너로 설정 -->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <!-- 코스트맵 설정 -->
    <rosparam file="$(find my_robot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot_navigation)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot_navigation)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />

    <!-- Move Base의 기본 매개변수 -->
    <rosparam file="$(find my_robot_navigation)/param/move_base_params.yaml" command="load" />

    <!-- A* 관련 설정 -->
    <rosparam file="$(find my_robot_navigation)/param/global_planner_params.yaml" command="load" />

    <!-- TEB 관련 설정 -->
    <rosparam file="$(find my_robot_navigation)/param/teb_local_planner_params.yaml" command="load" />
  </node>
</launch>