<!--
  Used for visualising rplidar in action and performing SLAM with Karto.
-->
<launch>
  <!-- Include RPLidar A2M8 -->
  <include file="$(find rplidar_ros)/launch/rplidar_symlink.launch" />

  <!-- RViz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />

  <!-- Karto SLAM Node -->
  <node name="slam_karto" pkg="slam_karto" type="slam_karto" output="screen">
    <param name="use_sim_time" value="true"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="base_frame" value="base_link"/>
    <param name="scan_topic" value="/scan"/>
    <param name="odom_topic" value="/odom"/>
  </node>

  <!-- Map Saver -->
  <node name="map_saver" pkg="map_server" type="map_saver" output="screen" args="-f ~/map" />

</launch>
